.container {
  max-width: 600px;
  margin: 1em auto;
  background: white;
  padding: 1.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden; /*Le bouton de mise à jour sort du div sans*/
}


.field-profil {
  margin-bottom: 1em;
  width: 100%;
}

.label-profil {
  display: block;
  margin-bottom: 0.5em;
}

.input-profil{
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-profil {
  background-color: #F9B25E;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  float: right;
}

.button-profil:hover {
  background-color: #E9A24E;
}
